<div class="booyah-box col-10 offset-1">
  <h1>Enter Your Place Details</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>

 <%= link_to 'Nomster', root_path, class: 'navbar-brand' %>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav">
      <li class="nav-item">
       <%= link_to new_place_path, class: 'nav-link' do %>
      <i class="fa fa-plus-circle"></i>
      New Place
    <% end %> 
      </li>
    <% if user_signed_in? %>
      <li class="nav-item">